{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe requête
{% endblock %}

{% block body %}
	<main>
		<h2>RÉINITIALISATION DE MOT DE PASSE</h2>
		<section class="container my-5">
			<article class="row">
				<div class="col col-md-9 col-lg-6 mx-auto">
					{{ form_start(requestPassForm) }}
						{{ form_row(requestPassForm.email) }}
						<button type="submit" class="btn btn-lg shadow mt-3">Envoyer</button>
					{{ form_end(requestPassForm) }}
				</div>
			</article>
		</section>
	</main>
{% endblock %}
