{% extends 'base.html.twig' %}

{% block title %}Find Us
{% endblock %}

{% block body %}
	<main>
        <img class="img_vector1" src="/img/Vector1.png" alt="image_vector">
		<h2>NOUS TROUVER</h2>
		<section class="container my-5">
			<article class="row">
				<div class="col col-md-12 col-lg-9 mx-auto findUs">
					<p class='text-center'>839 Chemin de Carboussède<br>30520 SAINT-MARTIN-DE-VALGAGUES<br>44°11'11.3"N &ensp; 4°04'24.9"E</p>
                    <iframe class="w-100 border shadow rounded-4 mt-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14421.823880319647!2d4.073233799246099!3d44.1730222893635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbfc53d931b7eacb8!2zNDTCsDExJzExLjMiTiA0wrAwNCcyNC45IkU!5e0!3m2!1sfr!2sfr!4v1662901591008!5m2!1sfr!2sfr" height="600" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
			</article>
		</section>
        <img class="img_vector2_findUs" src="/img/Vector2.png" alt="image_vector">
	</main>
{% endblock %}
