{% extends 'base.html.twig' %}

{% block title %}Gallery
{% endblock %}

{% block body %}
	<main>
		<img class="img_vector1" src="/img/Vector1.png" alt="image_vector">

		<h2>Galerie</h2>

		{% if kitchens != [] %}
			<h4 class='mt-5 mb-3 text-center'>Cuisine/Salon</h4>
			<section class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 mx-4 g-4 justify-content-evenly gallery">
				{% for kitchen in kitchens %}
					<article class="col">
						<div class="card" style="height: 400px;">
							<img src="/images/{{ kitchen.getImageName() }}" class="card-img h-100 imageGallery" alt="Cuisine/Salon">
						</div>
					</article>
				{% endfor %}
			</section>
		{% endif %}

		{% if bedroomsOne != [] %}
			<h4 class='mt-5 mb-3 text-center'>Chambre 1</h4>
			<section class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 mx-4 g-4 justify-content-evenly gallery">
				{% for bedroomOne in bedroomsOne %}
					<article class="col">
						<div class="card" style="height: 400px;">
							<img src="/images/{{ bedroomOne.getImageName() }}" class="card-img h-100 imageGallery" alt="Chambre">
						</div>
					</article>
				{% endfor %}
			</section>
		{% endif %}

		{% if bedroomsTwo != [] %}
			<h4 class='mt-5 mb-3 text-center'>Chambre 2</h4>
			<section class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 mx-4 g-4 justify-content-evenly gallery">
				{% for bedroomTwo in bedroomsTwo %}
					<article class="col">
						<div class="card" style="height: 400px;">
							<img src="/images/{{ bedroomTwo.getImageName() }}" class="card-img h-100 imageGallery" alt="Chambre">
						</div>
					</article>
				{% endfor %}
			</section>
		{% endif %}
		<div class="mt-5"></div>
		<img class="img_vector2_gallery" src="/img/Vector2.png" alt="image_vector">
	</main>
{% endblock %}
