<h1>Accusé de réception</h1>
<p>Bonjour {{ contact.firstname }} {{ contact.name }}.</p>
<p>Nous avons bien réceptionné votre demande qui concerne : {{ contact.subject }}.</p>
<p>Nous vous répondrons sous 3 jours.</p>
<p>Cordialement,</p>
<p>Le Gîte de la Régordane</p>